#DATA_TYPE
%symbolic
%continuous
symbolic

#EPS
0.0000000001

#MINIMUM_NO_OF_OCC
20

#DATA_DIR
up
%across
%up

#PARTITION
0.5 1.5 2.5 

#DATA_LENGTH
5000


% parameters for computing omega_sync  
#OMEGA_SYNC
2 3
% 1 1 0

#MIN_DEV_SYNC_SEARCH_
0.001
#SYN_PREF_LENGTH_
10000000
#MAX_DEPTH
15000
