.btn-add-new-security {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

td span.positive {
    color: #009933;
}

td span.negative {
    color:#CC3333;
}

.table .table-header {
    position: relative;
    padding: 4px 18px 4px 4px;
    position:relative;
    height:100%;
    width:100%;
}

.table .table-header span.table-icon {
    font-size: 11px;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    line-height: 14px;
    display: inline-block;
}

.table .table-header a {
    text-decoration: none;
}

.highlight-red {
    background-color: red;
}
.highlight-green {
    background-color: green;
}
