.class, .function{
	border-bottom: 1px solid black;
	padding-bottom:3em;
}

.class dd {
	padding-left:1em;
}
.class .method, .class .attribute {
	padding-left:2em;
}

.class dl:nth-child(even) {
	background-color:#EEEEEE;
}

.class dl:nth-child(odd) {
	background-color:#DDDDDD;
}
h2 { 
	border-top: 1px solid #7f7f7f;
}

h3 { 
	padding-left:5pt;
	font-size:1.5em;
}
