###########################
#                         #
#   Pymake Config File.   #
#                         #
###########################

#
#  The project name/identifier is the name of the base directery.
#  (the one who contains pymake.cfg)
#


### Global Path for data storage
project_data = data/
project_figs = data/reports/figs/

### Lookup Modules
default_model = world3.model
default_spec = world3.spec
default_script = world3.script
default_corpus = ?

### Third-Party Modules.
#contrib_model = mla, sklearn.decomposition
contrib_spec =
contrib_script =

### Project Settings Grammar.
# Use to specify custom command line options whith pymake.
gramarg = 

### Remote Options and configurations
# Used when `--net' options is used.

# Config file of gnu-parallel for remote computing.
loginfile = 

# Remote dir position for gnu-parallel
remote_pwd = 


